<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=devicewidth, initial-scale=1.0">
        <title>Simply Tech Stuff</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <header>
        <h1>
            <a href="/">Simply Tech Stuff</a>
        </h1>
        <nav>
            <a href="/dashboard">My Dashboard</a>
            <button id="logout" class="logout-btn">Log Out</button>
            <a href="/login">Log In</a>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        Come back soon for more cool tech stuff!
    </footer>
</html>