<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Penny For Your Thoughts</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <header>
        <h1>
            Penny For Your Thoughts
        </h1>
        <nav>
            {{#if loggedIn}}
            <a href="/">Homepage</a>
            <a href="/dashboard">My Dashboard</a>
            <button id="logout" class="logout-btn">Log Out</button>
            {{else}}
            <a href="/">Homepage</a>
            <a href="/login">My Dashboard</a>
            <a href="/login">Log In</a>
            {{/if}}
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        Come back soon!
    </footer>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</html>