<div class="container text-center">
    <div class="row justify-content-start">

        <section class="col-6">
            <h2 class="new-post-header">Create New Post</h2>

            <form class="create-post-form">
                <div>
                    <h5>Title:</h5>
                    <input type="text" id="title" name="title"/>
                </div>
                </br>
                <div>
                    <h5>Enter your new post here:</h5>
                    <textarea id="post-body" name="post-body" class="post-textarea"></textarea>
                </div>
                <button type="submit" class="btn btn-warning">Create Post</button>
            </form>
        </section>

        {{#if posts.length}}
        <section class="col-6">
            <h2 class="new-post-header">Your Posts</h2>
            <ol>
                {{#each posts as |post|}}
                <li>
                    <article>
                        <div>
                            <h3>{{post.title}}</h3>
                            <p>Created on {{post.created_at}}</p>
                        </div>
                        </br>
                        <div class="bottom-line">
                            {{post.post_contents}}
                        </div>
                    </article>
                </li>
                </br>
                {{/each}}
            </ol>
        </section>
        {{/if}}

    </div>
</div>

<script src="/javascript/new-post.js"></script>