<form>
    <h3>Enter your credentials to sign in:</h3>
    <div>
        <label for="username-login-input">Username:</label>
        <input type="text" id="username-login-input"/>
    </div>
    <div>
        <label for="password-login-input">Password:</label>
        <input type="password" id="password-login-input"/>
    </div>
    <div>
        <button type="submit">Log In</button>
    </div>
</form>

<p>Or, if you do not already have an account...</p>

<form>
    <h3>Enter your information to sign up!</h3>
    <div>
        <label for="username-signup-input">Username:</label>
        <input type="text" id="username-signup-input"/>
    </div>
    <div>
        <label for="password-signup-input">Password:</label>
        <input type="password" id="password-signup-input"/>
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>

<script src="/javascript/signup-login.js"></script>