
<div class="container text-center">   
    <div class="row justify-content-center">
        <div class="col-8">  
            <form id="login">
                <h3>Enter your credentials to sign in:</h3>
                <div>
                    <label for="username-login-input">Username:</label>
                    <input type="text" id="username-login-input"/>
                </div>
                </br>
                <div>
                    <label for="password-login-input">Password:</label>
                    <input type="password" id="password-login-input"/>
                </div>
                </br>
                <div>
                    <button class="btn btn-warning" type="submit">Log In</button>
                </div>
            </form>
            </br>
            <p>Or, if you do not already have an account...</p>
            </br>
            <form id="signup">
                <h3>Enter your information to sign up!</h3>
                <div>
                    <label for="username-signup-input">Username:</label>
                    <input type="text" id="username-signup-input"/>
                </div>
                </br>
                <div>
                    <label for="password-signup-input">Password:</label>
                    <input type="password" id="password-signup-input"/>
                </div>
                </br>
                <div>
                    <button class="btn btn-warning" type="submit">Sign Up</button>
                </div>
            </form>

            <script src="/javascript/signin-signup.js"></script>
        </div>
    </div>
</div>